<!DOCTYPE html>
<html>
<head>
  <title>MyFirstWebpacker</title>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
